@model tabla66.Models.User

@{
    ViewBag.Title = "MyPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Välkommen @Model.Name</h2>



<form class="form-vertical" action="@Url.Action("UpdateMyChannels")" method="post">
    <div class="module-body">
        <div class="control-group">
            <div class="controls row-fluid">
                <button type="submit" class="btn btn-primary pull-right" value="1" name="UpdateKanal">SVT1</button>
                <button type="submit" class="btn btn-primary pull-right" value="2" name="UpdateKanal">SVT2</button>
                <button type="submit" class="btn btn-primary pull-right" value="3" name="UpdateKanal">TV3</button>
                <button type="submit" class="btn btn-primary pull-right" value="4" name="UpdateKanal">TV4</button>
                <button type="submit" class="btn btn-primary pull-right" value="5" name="UpdateKanal">Kanal5</button>
                <button type="submit" class="btn btn-primary pull-right" value="6" name="UpdateKanal">TV6</button>
            </div>
        </div>
    </div>
</form>
<p>Min kanallista</p>
<table>
    @{
        foreach (var item in Model.Channel)
        {
            <tr>
                <td>
                    @item.Channel1.ToString()
                </td>
            </tr>
        }
    }
</table>




<button type="button" onclick="location.href='@Url.Action("Logout", "Users")'">Logga ut</button>
