@model IEnumerable<tabla66.Models.Show>

@{
    ViewBag.Title = "ByGenres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @{string genre = "";
        string date = "";
        foreach (var item in Model)
        {
            genre = item.Genre.Genre1;
            date = item.Start_time.Date.ToString("yyyy-MM-dd");
        }
        @genre;
        @date;
    }

</p>

<div class="tablediv">
    <table class="table">       

        @foreach (var item in Model)
        {
            var className = "";
            if (item.Start_time + item.Duration < DateTime.Now)
            { className = "passedshow"; }
            else if (item.Start_time < DateTime.Now && item.Start_time + item.Duration > DateTime.Now)
            { className = "ongoingshow"; }
            else
            { className = null; }   
            
            <tr class="@className">
                    <td>
                        @Html.DisplayFor(modelItem => item.Start_time.TimeOfDay)
                    </td>
                    <td>                        
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Channel.Channel1)
                    </td>
                    
            </tr>
        }
    </table>
</div>

