.tablådiv {
    width:300px;
    float: left;
    background-color: gold;
}

.tablå {
    height: 100%;
    border-left-width: 4px;
    border-left-color: #999999ff;
    border-left-style: solid;
    text-align: left;
    font-family: 'montserrat', arial;
    font-size: 15px;
}

.kanallogga {
    max-width: 50px;
    margin: 10px;
}


.passedshow {
    font-style: italic;
    text-decoration: line-through;
    color: grey;
    /*width: 100%;*/
}

.ongoingshow {
    font-weight: bold;
    color: black;
    /*width: 100%;*/
}