

table {
	height: 100%;
	border-left-width: 4px;
	border-left-color: #999999ff;
	border-left-style: solid;
	text-align: left;
	font-family: 'montserrat', arial;
	font-size: 15px;
	color: #666666ff;
}


.passedshow {
    font-style: italic;
    color: yellow;
    background-color: red;
}

.ongoingshow {
    font-weight: bold;
    color: green;
    background-color: blue;
}

